<div class="div">
  <div class="title-bar">
    <h2 class="wheel-title">
      爸氣一試，帶豪禮回家!
      購車試乘抽獎活動
    </h2>
    <button nz-button nzType="primary" (click)="spin()" [disabled]="isSpinning || hasDrawn">
      開始抽獎
    </button>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    <div class="wheel-container">
      <canvas #wheelCanvas width="600" height="600" (click)="spin()"></canvas>
      <div id="pointer"></div>
      @if (!hasDrawn) {
        <div class="wheel-tip">
          點一下抽獎
        </div>
      }
    </div>
  </div>
</div>
<ng-template #resultTemplate let-data="data">
  <span style="font-weight: bold;font-size: 20px;text-align: center;">
    恭喜抽中
    <strong [style.color]="data.color">{{ data.prize }}</strong>！
    <br>
    <div style="margin-top: 10px;">
      <img *ngIf="data.img" [src]="'/' + data.img + '.png'" style="height:200px;vertical-align:middle; display: inline-block;">
    </div>
  </span>
</ng-template>
